<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<AllowUntrustedCertificate>True</AllowUntrustedCertificate>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>http://seg.djpodium.com</SiteUrlToLaunchAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<ProjectGuid>6da1a7e5-f25b-4875-8649-eb4dc33ae148</ProjectGuid>
		<SelfContained>false</SelfContained>
		<MSDeployServiceURL>192.168.74.195</MSDeployServiceURL>
		<DeployIisAppPath>seg.djpodium.com</DeployIisAppPath>
		<RemoteSitePhysicalPath />
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
		<UserName>Administrator</UserName>
		<_SavePWD>true</_SavePWD>
		<_TargetId>IISWebDeploy</_TargetId>
		<TargetFramework>net8.0</TargetFramework>
	</PropertyGroup>
</Project>